label {
  display:block;
}
input {
  width:150px;
}
#states {
  display:none;
  border:1px solid black;
  width:155px;
}

#list {
  list-style:none;
}


#total {
  display:inline;
  
}

.selected {
  background-color:#00c;
  color:#fff;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);  /* for Internet Explorer */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}